*{
    margin: 0;
    padding: 0;
    font: 1.02em cursive;
}
.logo{
    padding: 0px;
    margin: 0px;
    float: left;
    padding: 7px 5px;

}
body{
    background-color: #ebebeb;
}
.menu{
    float: right;
}
.menu > ul{
    margin: 0;
    padding: 20px;
    list-style-type: none;
}
.menu > ul > li{
    float: left;
}
.menu-item{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color:black;
}
.menu-item1{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #F38648;
}
.menu-item:focus ~ .sub-contect{
    max-height: 400px;
    transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}
.sub-contect{
    position: absolute;
    top: 60px;
    overflow: hidden;
    max-height: 0;
}
.menu-itme:hover{
    background-color:#b3b3b3;
}
.sub-contect a {
    text-decoration: none;
}
.sub-drop{
    padding: 0;
}
.sub-drop ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu ul li:hover .sub-contect{
    max-height: 400px;
    transition: max-height 0.6s ease-in;
}
.h1{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    color: #b3b3b3;
}
.wave{
    position: fixed;
    bottom: 0;
    left: 0;
}
.box-ForgotPassword{
    position: absolute;
    top: 42%;
    left: 45%;
    transform: translate(-50%,-50%);
    border: 1px solid #b3b3b3;
    padding: 40px;
    width: 40%;
    height: 35%;
}
.box-ForgotPassword:hover{
    box-shadow: 3px 3px 50px #F38648;
}
.h1{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    color: #b3b3b3;
    right: 33%;
}
.button{
    width: 15%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px;
    background: none;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 15px;
    position: absolute;
    right: 48%;
    top: 50%;
}
.input-text{
    position: relative;
    margin: 15px 0;
    padding-top: 14px;
    left: 27%;
    bottom: -38%;
}
.input-text input{
    width: 45%;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    padding-left: 30px;
    border-bottom:  1px solid #b3b3b3;
    background: none;
}
