*{
    margin: 0;
    padding: 0;
    font: 1.02em cursive;
}
.logo{
    padding: 0px;
    margin: 0px;
    float: left;
    padding: 7px 5px;

}
body{
    background-color: #ebebeb;
}
.menu{
    float: right;
}
.menu > ul{
    margin: 0;
    padding: 20px;
    list-style-type: none;
}
.menu > ul > li{
    float: left;
}
.menu-item{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color:black;
}
.menu-item1{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #F38648;
}
.menu-item:focus ~ .sub-contect{
    max-height: 400px;
    transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}
.sub-contect{
    position: absolute;
    top: 60px;
    overflow: hidden;
    max-height: 0;
}
.menu-itme:hover{
    background-color:#b3b3b3;
}
.sub-contect a {
    text-decoration: none;
}
.sub-drop{
    padding: 0;
}
.sub-drop ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu ul li:hover .sub-contect{
    max-height: 400px;
    transition: max-height 0.6s ease-in;
}
.sub-drop ul li {
    display: inline-block;
    padding: 7px;
}
.wave{
    position: fixed;
    bottom: 0;
    left: 0;
}
.Rental{
    position: absolute;
    top: 44%;
    left: 47%;
    transform: translate(-50%,-50%);
    border: 1px solid #b3b3b3;
    padding: 40px;
    width: 45%;
    height: 39%;
}
.Rental:hover{
    box-shadow: 3px 3px 50px #F38648;
}
h2{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    color: #b3b3b3;
}
.input-text1{
    position: relative;
    margin: 5px 0;
    padding-top: 13px;
    left: 15%;
    top: 8%;
}
.input-text{
    position: relative;
    margin: 15px 0;
    padding-top: 14px;
    left: 56%;
    bottom: 35%;
}
.input-text1 input{
    width: 35%;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 12px;
    border: none;
    padding-left: 25px;
    border-bottom:  1px solid #b3b3b3;
    background: none;

}
.input-text input{
    width: 35%;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 12px;
    border: none;
    padding-left: 25px;
    border-bottom:  1px solid #b3b3b3;
    background: none;
}
.input-text i{
    position: absolute;
    right: 102%;
}
.input-text1 i{
    position: absolute;
    right: 102%;
}
.button{
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px;
    background: none;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 22px;
    position: absolute;
    right: 35%;
    top: 80%;
}